{% extends "base.html" %}
{% block content %}
  {% if user_logged_in.oikeudet == "yllapitaja" %}
    <a class="btn btn-default btn-sm" href="{{base_path}}/user/{{kayttaja.id}}/edit">Muokkaa</a>
    <a class="btn btn-danger btn-sm" href="{{base_path}}/user/{{kayttaja.id}}/delete">Poista</a>
  {% endif %}
  <h1>{{kayttaja.nimi}}</h1>
  
  <ul>
    <li><strong>Sähköpostiosoite:</strong> {{kayttaja.email}}</li>
    {% if user_logged_in.oikeudet == "yllapitaja" %}
      <li><strong>Tunnus:</strong> {{kayttaja.tunnus}}</li>
      <li><strong>Oikeudet:</strong> {{kayttaja.oikeudet}}</li>
      <li><strong>Status:</strong> {{kayttaja.status}}</li>
      <li><strong>Lisätty:</strong> {{kayttaja.lisayspvm}}</li>
    {% endif %}
  </ul>

  {% if kayttaja.oikeudet != "tutkija" %}
    <h2>Luvat</h2>
    {% if luvat %}
      <p>Kayttäjällä on vastuullaan {{luvat|length}} kpl eläinkoelupia</p>
      <ul>
        {% for lupa in luvat %}
          <li><a href="{{base_path}}/licence/{{lupa.id}}">{{lupa.tunnus}}</a>: {{lupa.nimi}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Kayttäjällä ei ole vastuullaan eläinkoelupia</p>
    {% endif %}
  {% endif %}

  <h2>Kokeet</h2>
  <ul>
    <li>Koe 1</li>
    <li>Koe 2</li>
    <li>Koe 3</li>
  </ul>

{% endblock %}
