{% extends "base.html" %}
{% block content %}
  <h1>Eläinkoeluvat</h1>

  {% if user_logged_in.oikeudet != 'tutkija' %}
    <a href="{{base_path}}/licence/new" class="btn btn-success">Lisää lupa</a>
    <br />
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tunnus</th>
        <th>Nimi</th>
        <th>Vastaava</th>
        <th>Myönnetty</th>
        <th>Päättyy</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for lupa in luvat %}
        <tr>
          <td><a href="{{base_path}}/licence/{{lupa.id}}">{{lupa.tunnus}}</a></td>
          <td>{{lupa.nimi}}</td>
          <td><a href="{{base_path}}/user/{{lupa.vastuuhlo_id}}">{{lupa.vastuuhlo_nimi}}</a></td>
          <td>{{lupa.alkupvm}}</td>
          <td>{{lupa.loppupvm}} <label class="label label-success">Voimassa</label></td>
          <th>
            <!--<a class="btn btn-default btn-sm" href="#">Muokkaa</a>
            <a class="btn btn-danger btn-sm" href="#">Poista</a>-->
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
