{% extends "base.html" %}
{% block content %}
  {% if user_logged_in.oikeudet == "lupavastaava" or user_logged_in.oikeudet == 'yllapitaja' %}
    <!--<a class="btn btn-default btn-sm" href="{{base_path}}/licence/{{lupa.id}}/edit">Muokkaa</a>
    <a class="btn btn-danger btn-sm" href="{{base_path}}/licence/{{lupa.id}}/delete">Poista</a>-->
  {% endif %}
  <h1>{{lupa.nimi}}</h1>

  <ul>
    <li><strong>Tunnus:</strong> {{lupa.tunnus}}</li>
    <li><strong>Alkupäivämäärä:</strong> {{lupa.alkupvm}}</li>
    <li><strong>Päättymispäivämäärä:</strong> {{lupa.loppupvm}}</li>
    <li><strong>Vastuuhenkilö:</strong> <a href="{{base_path}}/user/{{lupa.vastuuhlo_id}}">{{lupa.vastuuhlo_nimi}}</a></li>
  </ul>

  <h2>Kokeet</h2>
  <!-- FIXME tee tästä template -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Päivämäärä</th>
        <th>Käyttäjä(t)</th>
        <th>Lupa</th>
        <th>Eläinlaji</th>
        <th>Ikä</th>
        <th>Lukumäärä</th>
        <th>Lisätiedot</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for koe in kokeet %}
        <tr>
          <td><a href="{{base_path}}/experiment/{{koe.id}}">{{koe.suorituspvm}}</a></td>
          <td>
            {% for nimi in koe.kayttajat_nimi %}
              {% if loop.index0 != 0 %}
                <br />
              {% endif %}
              <a href="{{base_path}}/user/{{koe.kayttajat_id[loop.index0]}}">{{nimi}}</a>
            {% endfor %}
          </td>
          <td><a href="{{base_path}}/licence/{{koe.lupa_id}}">{{koe.lupa_tunnus}}</a></td>
          <td>{{koe.laji}}</td>
          <td>{{koe.ika}}</td>
          <td>{{koe.lukumaara}}</td>
          <td>{{koe.lisatiedot}}</td>
          <th>
            <!--
            <a class="btn btn-default btn-sm" href="#">Muokkaa</a>
            <a class="btn btn-danger btn-sm" href="#">Poista</a>-->
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
