{% extends "base.html" %}
{% block content %}

{% if viesti %}
  <div class="alert alert-success">
    <p>{{viesti}}</p>
  </div>
{% endif %}

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
      <a href="experiment">
        <img class="img-fluid center-block" src="assets/icons/list2.svg" style="width:80%" />
        <h1 class="text-center">Kokeet</h1>
      </a>
    </div>

    <div class="col-sm-4">
      <a href="licence">
        <img class="img-fluid center-block" src="assets/icons/briefcase.svg" style="width:80%" />
        <h1 class="text-center">Lisenssit</h1>
      </a>
    </div>

    <div class="col-sm-4">
      <a href="user">
        <img class="img-fluid center-block" src="assets/icons/users.svg" style="width:80%" />
        <h1 class="text-center">Käyttäjät</h1>
      </a>
    </div>
  </div>
</div>
{% endblock %}
