{% extends "base.html" %}
{% block content %}

  <p>Terve {{user_logged_in.nimi}}</p>

  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
        <a href="experiment">
          <img class="img-fluid center-block" src="assets/icons/list2.svg" style="width:80%" />
          <h1 class="text-center">Kokeet</h1>
        </a>
      </div>

      <div class="col-sm-4">
        {% if user_logged_in.oikeudet == "lupavastaava" or user_logged_in.oikeudet == "yllapitaja" %}
          <a href="licence">
            <img class="img-fluid center-block" src="assets/icons/briefcase.svg" style="width:80%" />
            <h1 class="text-center">Lisenssit</h1>
          </a>
        {% endif %}
      </div>

      <div class="col-sm-4">
        {% if user_logged_in.oikeudet == "yllapitaja" %}
          <a href="user">
            <img class="img-fluid center-block" src="assets/icons/users.svg" style="width:80%" />
            <h1 class="text-center">Käyttäjät</h1>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
